/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}

h2{
  font-size: 2.8rem;
  padding-top: 30px;
  font-weight: 800;
  color: #23272a;
}

h3{
  font-size: 1.7rem;
  font-weight: 800;
  padding-top:20px;
  padding-bottom: 20px;
  color: #23272a;
}

p{
  font-size: 1.45rem;
  padding-top: 20px;
  line-height: 35px;
  color: #23272a;
}

.container{
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.jumbo{
  max-width: 894px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;

}

/* BUTTON */
.btn{
  padding: 11px 15px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.clear{
  background-color: #ffffff;
}

.clear:hover{
 color: #3161e0;
}

.dark{
  background-color: #23272a;
  color: #ffffff;
}

.dark:hover{
  background-color: #3d3d3d;
}

.violet{
  background-color: #8ea1e1;
  color: #ffffff;
}

.violet:hover{
  background-color: #b2bce0;
}

.btn-bigger{
  font-size: 1.3rem;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-weight:400;
}

/* HEADER */
header{
  height: 80px;
  background-color: #3161e0;
  color: #ffffff;
}

header .wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  margin-left: 10px;
}

header .log-in{
  margin-right: 10px;
}

/* NAV */
nav.menu ul{
  display: flex;
  gap: 40px;
}

nav.menu ul li{
  list-style: none;
}

nav.menu ul li a{
  color: #ffffff;
  text-decoration: none;
}

nav.menu ul li a:hover{
  text-decoration: underline;
}


/* MAIN */
main .jumbotron{
  background-image: url(../img/jumbo.png);
  height: 560px;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
}

main .jumbo p{
  font-size: 1.4rem;
  padding-bottom: 20px;
  color: #ffffff;
}

main .btn-bigger.clear{
  margin-right: 20px;
}

main .btn-bigger i{
  font-size: 1rem;
  padding-right: 10px;
}

/* WHITE ROW */
main .white{
  display: flex;
  align-items: flex-start;
}

main .white-row{
  background-color: #ffffff;
  padding: 100px 0;
}

main .immage{
  display: flex;
  width: 60%;
}

main .text{
  width: 40%;
  display: flex;
  flex-direction: column;
}

main .text.right{
  margin-left: 105px;
}

main .text.left{
  margin-right: 105px;
}
/* /WHITE ROW */

/* GREY ROW */
main .grey{
  display: flex;
  align-items: flex-start;
}

main .grey-row{
  background-color: #f6f6f6;
  padding: 100px 0;
}
/* /GREY ROW */

main .last{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}

main .last img{
  width: 100%;
}

main .last p{
  text-align-last: center;
}

main .last .star{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/stars.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 650px;
}

main .last .star h3{
  padding: 40px 40px;
  text-align: center;
}
/* FOOTER */
footer{
  background-color: rgb(19, 19, 19);/*DA CAMBIARE*/
  color: #ffffff;
}

/* FOOTER TOP */
footer .top{
  height: 350px; /*DA TOGLIERE*/
  display: flex;
}

footer .top .footer-col{
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  align-content: space-between;
  justify-content: flex-start;
}

footer .top .footer-col .first{
  flex-basis: 60%;
}

footer .top .footer-col ul{
  list-style: none;
}

footer .top .footer-col ul li a{
  text-decoration: none;
  color: #ffffff;
}

/* FOOTER BOTTOM */
footer .bottom{
  height: 80px;/*DA CAMBIARE*/
  border-top: 1px  solid lightblue;/*DA CAMBIARE*/
  padding-top: 20px;
}

footer .bottom .logo-btn{
  display: flex;
  justify-content: space-between;
}